body{
  background-color: red;
}


ul{
  color:green;
  font-style: italic;
}

/*#nav_bar {margin:0px;padding:0px;list-style-type:none;text-align:center;}
*/

li{
  display: inline;
  font-size: 30px;
  width: 100px;
}
